.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
temp/**
docs/**
node_modules/**
.github/**
.gitignore
.prettierrc.json
eslint.config.mjs
esbuild.js
tsconfig.json
package-lock.json
**/*.map
**/*.ts
**/*.tsbuildinfo
**/*.vsix
media/icon-source.png
